language: python
cache: pip
dist: xenial
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
env:
  global:
    - LD_PRELOAD=/lib/x86_64-linux-gnu/libSegFault.so
    - CFLAGS=-coverage

_wheels: &wheels
  - python -m pip install twine
  - python -m pip install -U cibuildwheel==1.5.5
  - python -m cibuildwheel --output-dir dist
  - ls -alF dist/

_deploy: &pypi
  - provider: pypi
    edge: true
    server: https://test.pypi.org/legacy/
    user: __token__
    password:
      secure: Qn+CHsG2geZCeNCZKSrxd6+bENmQ0Tyc1oFMFP1UtRvjhnbzZRwXCgjsZoHHQwuy5yReN+z6PHJepl+TzgcoSQutBzE1NRSFLSW3TWNor3zevg5PS1JXIWat5fhoNc8s8OXVJKrha4wStN1B185z8+tXT5beyMYnnvacntTCU7Z0cwHd9PeEy2z0w5e9VPYu66AvCDioV0cflCvC6rh4WU83tFVRxuyz+9Mqk5ZgwA8/UyXFHj0MZilP8AdRHzVkZHHKtfc9Cd4UDjvdtJXsN+eVwDnVVf5/uyfNbkqcCFNhaLgDuTxyczN64GqRH3RailHy4Ec6cXIO40mFxzpR3duerSkb4oxbes0Eol9QcsJfVOIB0NbQDbIQdiAS2tWdFSID7Dy5P26m+WDp2yPr/YEePECcTEFOMVVlvd97OViULdVJ1pshOHSAh9Lmsvp9kRvPUiU9TjH7IPkGvEAwM1YzczbRuWRRm0l9MoWAeiSt7m2leG35AXQ14aVMwRQMxxDpCtd9ar/HbMHXhytbd9d8mwO5hxF5V/O8A19mYRRuel+haihj8xh3VEfeKlyV5YGaMFS8Eg4K+dLXBTIUtdHoIA6r1abiG7bVns3Vw5M5BmvR4WnKCz/EBLSRCGQixulgfbP2+svNQIg2h1vj4Dvq/+gFt9TjkHNXvsa5xBo=
    skip_existing: true
    distributions: "--help"
    on:
      repo: st-bender/pynrlmsise00
      branch: master
      tags: false
  - provider: pypi
    edge: true
    user: __token__
    password:
      secure: m8BVzgg7zE1UKvSvjTRRKv2UfhEHt2tV6S6Ot3Oa9xVoJ+uk0EaIp1OfBunxT77fSvwcFnZR3i0VodPyE1zbzyffOagSPq/Z8MmjN9HnGMSIKrlhKuJ/K00xVRn1qAl1NKc6vg9WF+EW4rYxHPeFWEFcYZM8bnl6uoqgCNug9ML9QO0mX6BIWiFPhS+cXZC3HP3yD8RernWcl/6N8YXLgH9ShDkSCkXlcRKzfNyNRiPv17OdmAlf6SAzy6uEgfK/f63SSXkkMbH3WMcJjqSbMp1JD5q+rhd0ss9bpJCcrG3X5YyC3Q2KzJ3DBVhxYEd7/Ne2Qa+R96yqXYle7NBi09+EOd95a7RqsD3Uaj7yP96r51oIw13ZWAyifyjBDXJhvyFI0EVczfmXtSvuijOq+6oWIaeX3kXxSENspLF/YqcSHF5SqoyiRCx5D4e9/YYeibdT2wl1mMiu2K9Fy+VN+grZJAC1PQHE5w2iSAmXRRclVWkMVM7T8oXkBu1J6ZLFidns9jxvVqRQhAx6pgLWDFQ0zw0Wmai3wpZnmHlbGSAD9SXNjJy9XM2Px5ek2UPi72CnR7JtpHBE9TzHKnk4abRyYVbHEx29G+W1AlOYAezracjd7g/bQKt/BZblKgcSJVa0vvUJT8ZV/HR+QK/o8saR2yAImb3IwOUMyKf06QY=
    skip_existing: true
    distributions: "--help"
    on:
      repo: st-bender/pynrlmsise00
      branch: master
      tags: true

stages:
  - test
  - build
  - deploy

jobs:
  include:
    - os: linux
    - os: osx
      osx_image: xcode12
      language: shell
      before_install:
        - python3 -m venv venv
        - source venv/bin/activate
        - which pip python pip3 python3
        - python --version
        - uname -a
      script:
        - py.test -v --cov src
        - coveralls --build-root=. --include=src --dump=cpp-coveralls.json
      after_success:
        - coverage report
    - os: windows
      language: shell
      before_install:
        - choco install python --version 3.8.0
        - export PATH="/c/Python38:/c/Python38/Scripts:$PATH"
        - pip install --user --upgrade pip
      after_success:
        - coverage report
      env: LD_PRELOAD=

    - stage: build
      os: linux
      python: 3.7
      install: skip
      after_success:
      script:
        - python -m pip install twine
        - python -m pip install cibuildwheel==0.12.0
        - python -m cibuildwheel --output-dir dist
        - ls -alF dist/
      env:
        # cibuildwheel version and manylinux images to build Py34 wheels
        # alternative image sha256:
        # quay.io/pypa/manylinux1_i686@sha256:6616c1a4a93798214e86e964379cd2ee8163fe62af0751da2e8c682809d7c96c
        # quay.io/pypa/manylinux1_x86_64@sha256:e90db28d26e5558faa8d58ccd2e67d516ca83f793327df0ba48968a77485eb08
        - CIBW_BUILD="cp34-*"
        - CIBW_MANYLINUX1_I686_IMAGE="quay.io/pypa/manylinux1_i686:2020-01-31-d8fa357"
        - CIBW_MANYLINUX1_X86_64_IMAGE="quay.io/pypa/manylinux1_x86_64:2020-01-31-d8fa357"
      workspaces:
        create:
          name: wheels-linux1
          paths:
            - dist
    - os: linux
      python: 3.7
      install: skip
      after_success:
      script:
        - python setup.py sdist
        - *wheels
      workspaces:
        create:
          name: wheels-linux2
          paths:
            - dist
    - os: windows
      language: shell
      before_install:
        - choco install python --version 3.8.0
        - export PATH="/c/Python38:/c/Python38/Scripts:$PATH"
      install: skip
      after_success:
      script:
        - which pip python
        - *wheels
      env: LD_PRELOAD=
      workspaces:
        create:
          name: wheels-win
          paths:
            - dist

    - stage: deploy
      os: linux
      python: 3.7
      before_install: skip
      install: skip
      script: skip
      after_success:
      workspaces:
        use:
          - wheels-linux1
          - wheels-linux2
          - wheels-win
      git:
        depth: 3
      before_deploy:
        - python -m pip install twine
        - ls -alF
        - ls -alF C:/Users/travis/build/st-bender/pynrlmsise00/dist
        - cp -v C:/Users/travis/build/st-bender/pynrlmsise00/dist/* dist/
        - ls -alF dist
        - twine check dist/*
      deploy: *pypi
    - os: osx
      osx_image: xcode12
      language: shell
      before_install: skip
      install: skip
      script: skip
      after_success:
      before_deploy:
        - python3 -m venv venv
        - source venv/bin/activate
        - which pip python pip3 python3
        - *wheels
      deploy: *pypi
      env: CIBW_SKIP="pp*"
  allow_failures:
    - os: osx
    - os: windows
before_install:
  - python --version
  - uname -a
  - lsb_release -a
install:
  - pip install -U pytest pytest-cov codecov coveralls cpp-coveralls
  - pip install tox-travis
  - pip install scrutinizer-ocular
  - pip install pandas 'xarray<0.17'
  - pip install -e '.[all]'
script:
  - py.test -v --doctest-glob='*.md' --cov src
  - (coveralls --build-root=. --include=src --dump=cpp-coveralls.json || echo 1)
after_success:
  - coverage report
  - codecov
  - python -m coveralls --merge=cpp-coveralls.json
  - ocular --data-file ".coverage"
notifications:
  email:
    on_success: never
    on_failure: always
