name: wheels

on:
  release:
    types:
      - published

jobs:
  build_wheels_34:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.7"
      - run: |
          lsb_release -a
          uname -a
      - run: python --version
      - name: Build wheels for Py3.4
        run: |
          python -m pip install cibuildwheel==0.12.0
          python -m cibuildwheel --output-dir dist
          ls -alF dist/
        env:
          # cibuildwheel version and manylinux images to build Py34 wheels
          # alternative image sha256:
          # quay.io/pypa/manylinux1_i686@sha256:6616c1a4a93798214e86e964379cd2ee8163fe62af0751da2e8c682809d7c96c
          # quay.io/pypa/manylinux1_x86_64@sha256:e90db28d26e5558faa8d58ccd2e67d516ca83f793327df0ba48968a77485eb08
          CIBW_BUILD: "cp34-*64"
          CIBW_MANYLINUX1_I686_IMAGE: "quay.io/pypa/manylinux1_i686:2020-01-31-d8fa357"
          CIBW_MANYLINUX1_X86_64_IMAGE: "quay.io/pypa/manylinux1_x86_64:2020-01-31-d8fa357"
          CIBW_PLATFORM: linux
          CIBW_TEST_SKIP: "*"
      - uses: actions/upload-artifact@v2
        with:
          path: ./dist/*.whl

  build_wheels:
    name: Wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-2019, macos-10.15]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build wheels
        uses: pypa/cibuildwheel@v1.12.0
        with:
          output-dir: dist
        env:
          CIBW_SKIP: "pp* *-win32 *-manylinux_i686 *-musllinux*"
      - name: List wheels
        run: ls -alF dist/
        if: ${{ !startsWith(matrix.os, 'windows') }}
      - uses: actions/upload-artifact@v2
        with:
          path: ./dist/*.whl

  build_sdist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade build twine
      - name: Build sdist
        run: python -m build --sdist .
      - run: ls -alF dist/
      - name: Check long_description
        run: python -m twine check dist/*
      - uses: actions/upload-artifact@v2
        with:
          path: ./dist/*.tar.gz

  deploy:
    needs: [build_wheels_34, build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist
      - name: List packages
        run: ls -alF dist/
